/* General styles */

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Courier New';
}

body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   text-align: center;
   /* background: url(A.jpg) no-repeat center center/cover; */
   background-image:linear-gradient( yellow,rgb(0, 51, 255));
}

.container{
   width: 550px;
   height: 450px;
}
.header{
   font-size: 1.8rem;
   border: solid 2px whitesmoke;
   color: rgb(227, 237, 233);
   background-color: black;
   padding: 5px;
   width: 80%;
   margin: 20px auto;
   border-radius: 10px;
}

.main-content{
   width: 100%;
   height: 300px;
   background-color: azure;
   border-radius: 20px;
   padding: 60px 40px;
   box-shadow: 0 0 10px;
}
.main-content .text-area{
   font-size: 1.5rem;
   line-height: 1.6;
}

.main-content .person-name{
   font-size: 1.7rem;
   font-family: fantasy;
   color: rgb(199, 108, 18);
   /* text-transform: uppercase; */
   margin-top: 22px;
}

.button-area button{
   color: azure;
   background-color: black;
   font-size: 1.4rem;
   padding: 6px 7px;
   margin-top: 8px;
   border-radius: 7px;
}

.button-area button :active{
   background-color: lightblue;
}